DB_DESTINATION_HOST=# хост БД
DB_DESTINATION_PORT=# порт БД
DB_DESTINATION_NAME=# имя БД
DB_DESTINATION_USER=# имя пользователя
DB_DESTINATION_PASSWORD=# пароль пользователя
S3_BUCKET_NAME=# имя бакета S3
AWS_ACCESS_KEY_ID=# AWS_ACCESS_KEY для S3
AWS_SECRET_ACCESS_KEY=# AWS_SECRET_ACCESS для S3
RECOMMENDATIONS_HOST=http://127.0.0.1 # хост сервиса рекомендаций при локальном запуске
RECOMMENDATIONS_PORT=8020 # порт сервиса рекомендаций при локальном запуске
EVENTS_HOST=http://127.0.0.1 # хост сервиса регистрации действий пользователя при локальном запуске
EVENTS_PORT=8010 # хост сервиса регистрации действий пользователя при локальном запуске
AIRFLOW_PROJ_DIR = . # расположение основных папок Airflow относительно докерфайла, который его запускает
TEL_TOKEN=# токен для телеграмм бота
TEL_CHAT_ID=# Id чата для телеграм бота
AIRFLOW_UID=# UID для Airflow
