DB_DESTINATION_HOST=
DB_DESTINATION_PORT=
DB_DESTINATION_NAME=
DB_DESTINATION_USER=
DB_DESTINATION_PASSWORD=
S3_ENDPOINTURL=
S3_BUCKET_NAME=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AIRFLOW_UID=
AIRFLOW_PROJ_DIR = ./
TEL_TOKEN=
TEL_CHAT_ID=
